<article class="space-article">
    <h2>{{title}}</h2>
    <p>{{description}}</p>

    <!-- button or link or whatever -->
    <!-- <a href="https://www.google.be" class="space-button">Download The Code Now!</a> -->
</article>